<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Editar Reseña' : 'Agregar Nueva Reseña' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resenaForm" (ngSubmit)="guardarResena()">
   
   <ion-item>
      <ion-label position="floating">Calificación (1 - 10)</ion-label>
      <ion-input formControlName="valoracion" type="number" min="1" max="10"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comentario</ion-label>
      <ion-textarea formControlName="comentario" autoGrow="true"></ion-textarea>
    </ion-item>
    <br>

    <ion-button expand="block" type="submit" [disabled]="resenaForm.invalid">
      {{ isEdit ? 'Actualizar Reseña' : 'Agregar Reseña' }}
    </ion-button>
  </form>
</ion-content>
