<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Editar Libro' : 'Agregar Nuevo Libro' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="libroForm" (ngSubmit)="guardarLibro()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input formControlName="autor" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion" autoGrow="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Publicación</ion-label>
      <ion-input formControlName="fecha_publicacion" type="date"></ion-input>
    </ion-item>
    <br>

    <ion-button expand="block" type="submit" [disabled]="libroForm.invalid">
      {{ isEdit ? 'Actualizar Libro' : 'Agregar Libro' }}
    </ion-button>
  </form>
</ion-content>
